@import url(https://fonts.googleapis.com/css?family=Passion+One);
  
  .forgot-password-card {
    max-width: 300px;
    height: 200px;
    margin: 150px auto auto auto;   
  }

  .card-title {
    font-family: 'Passion One', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
  }

  .card-full-width {
    width: 100%;
  }

  mat-card-actions {
    margin: 0 auto;
  }

  .formSubmitted {
    max-width: 300px;
    margin: 150px auto auto auto;  
    color: #007E33;
    text-align: center;
    font-size: 16px;
  } 
  