<div *ngIf="( isMainForm | async); then mainForm else submittedForm"></div>
<ng-template #mainForm>
  <mat-card class="forgot-password-card">
    <mat-card-title class="card-title">Forgot Password</mat-card-title>
    <hr class="dialog-title-hr">
    <mat-card-content style="margin-top: 20px;">
      <form class="example-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">
        <table class="card-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="card-full-width">
                <input matInput placeholder="Enter Email" formControlName="email" name="email" required>
                <mat-error *ngIf="isFieldInvalid('email')">
                  Please enter your email.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-card-actions align="end">
          <button [disabled]="!forgotPasswordForm.valid" mat-raised-button color="accent">Submit</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #submittedForm>
  <mat-card class="formSubmitted">
    <mat-card-content>
      <mat-icon>check_circle_outline</mat-icon>
      <div>{{emailResponseMessage}}</div>
    </mat-card-content>
  </mat-card>
</ng-template>