<div class="table-layout">
  <div>
    <div fxFlex="50%">
      <button mat-raised-button color="primary" type="submit" (click)="addSupplier()">Add</button>
      <button mat-raised-button color="primary" type="submit" (click)="downloadPDF()" style="margin-left: 15px;">Download</button>
    </div>

    <div fxFlex="50%" style="text-align: end">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Product Name Column -->
      <ng-container matColumnDef="supplierName">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Supplier Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.supplierName}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="supplierEmail">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell"> Supplier Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.supplierEmail}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="supplierPhone">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Supplier Phone </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.supplierPhone}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="supplierCity">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="header-cell">Supplier City </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.supplierCity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <a class="action-btn" (click)="updateSupplier(row)">
            <mat-icon>edit</mat-icon>
          </a>
          <a class="action-btn" (click)="deleteSupplier(row)">
            <mat-icon>delete</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[3, 5, 10, 25, 100]"></mat-paginator>
  </div>
</div>