<div class="dialog-box-container">
  <mat-dialog-content>
    <span class="heading"> PURCHASE ORDER ITEMS LIST </span>
    <button mat-icon-button (click)="downloadPDF()" color="primary" class="icon-button">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <hr>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Brand</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let poItem of PoItems;">
          <tr>
            <td>{{poItem.productCategory}}</td>
            <td>{{poItem.productBrand}}</td>
            <td>{{poItem.productName}}</td>
            <td>{{poItem.orderQuantity}}</td>
            <td>{{poItem.productPrice}}</td>
            <td>{{poItem.productsOrderPrice}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-dialog-content>
</div>