<div class="dialog-box-container">
  <h1 mat-dialog-title class="dialog-title">
    <b>New Bill</b>
  </h1>
  <hr class="dialog-title-hr">
  <mat-dialog-content [formGroup]="form">
    <input type="hidden" name="id" formControlName="id">
    <br>
    <div fxLayout="row">
      <mat-form-field class="card-full-width" fxFlex="45%">
        <input matInput placeholder="Customer Mobile" formControlName="customerPhone">
        <mat-error *ngIf="isFieldInvalid('customerPhone')">
          Please enter customer phone.
        </mat-error>
      </mat-form-field>
      <div fxFlex="10%"></div>
      <mat-form-field class="card-full-width" fxFlex="45%">
        <input matInput placeholder="Customer Name" formControlName="customerName">
        <mat-error *ngIf="isFieldInvalid('customerName')">
          Please enter customer name.
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row">
      <mat-form-field class="card-full-width" fxFlex="45%">
        <input matInput placeholder="Bill Number" formControlName="billNumber">
      </mat-form-field>
      <div fxFlex="10%"></div>
      <mat-form-field class="card-full-width" fxFlex="45%">
        <input matInput placeholder="Bill Date" formControlName="billDate">
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row">
      <mat-form-field class="card-full-width" fxFlex="45%">
        <input matInput placeholder="Barcode" formControlName="productBarcode">
        <mat-error *ngIf="isFieldInvalid('productBarcode')">
          Please enter product barcode.
        </mat-error>
      </mat-form-field>
    </div>


    <div class="res-table-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <!-- Product Name Column -->
        <ng-container matColumnDef="billNumber">
          <mat-header-cell  class="header-cell"> Bill Number </mat-header-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell  class="header-cell">Quantity </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       
      </mat-table>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
      Close
    </button>
    <button [disabled]="!form.valid" class="mat-raised-button mat-primary" (click)="sendProduct()">
      Save
    </button>
  </mat-dialog-actions>
</div>