<div class="dialog-box-container">
  <h2 mat-dialog-title class="dialog-title">
    <b>Update Product</b>
  </h2>
  <hr class="dialog-title-hr">
  <mat-dialog-content [formGroup]="form">
    <input type="hidden" name="id" formControlName="id">
    <br>
    <mat-form-field class="card-full-width">
      <input matInput placeholder="Product Name" formControlName="productName">
    </mat-form-field>
    <br>
    <mat-form-field class="card-full-width">
      <input matInput placeholder="Product Brand" formControlName="productBrand">
    </mat-form-field>
    <br>
    <mat-form-field class="card-full-width">
      <input matInput placeholder="Product Category" formControlName="productCategory">
    </mat-form-field>
    <br>
    <mat-form-field class="card-full-width">
      <input matInput placeholder="Product Barcode" formControlName="productBarcode">
    </mat-form-field>
    <br>
    <mat-form-field class="card-full-width">
      <input matInput placeholder="Product Description" formControlName="productDescription">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
      Close
    </button>
    <button [disabled]="!form.valid" class="mat-raised-button mat-primary" (click)="update()">
      Update
    </button>
  </mat-dialog-actions>
</div>