<div class="dialog-box-container">
  <h2 mat-dialog-title class="dialog-title">
    <b>Add Supplier</b>
  </h2>
  <hr class="dialog-title-hr">
  <mat-dialog-content [formGroup]="form">
    <input type="hidden" name="id" formControlName="id">
    <br>
    <div fxLayout="row">
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Supplier Name" formControlName="supplierName">
        <mat-error *ngIf="isFieldInvalid('supplierName')">
          Please enter supplier name.
        </mat-error>
      </mat-form-field>
      <div fxFlex="10%"></div>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Supplier Code" formControlName="supplierCode">
        <mat-error *ngIf="isFieldInvalid('supplierCode')">
          Please enter supplier code.
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row">
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Supplier Email" formControlName="supplierEmail">
        <mat-error *ngIf="isFieldInvalid('supplierEmail')">
          Please enter supplier email.
        </mat-error>
      </mat-form-field>
      <div fxFlex="10%"></div>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Supplier Phone" formControlName="supplierPhone">
        <mat-error *ngIf="isFieldInvalid('supplierPhone')">
          Please enter supplier phone.
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row">
      <mat-form-field fxFlex="45%">
        <mat-select placeholder="Supplier Country" formControlName="supplierCountry">
          <mat-option *ngFor="let country of countryList" [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isFieldInvalid('supplierCountry')">
          Please select country.
        </mat-error>
      </mat-form-field>
      <div fxFlex="10%"></div>
      <mat-form-field fxFlex="45%">
        <mat-select placeholder="Supplier State" formControlName="supplierState">
          <mat-option *ngFor="let state of stateList" [value]="state.name">
            {{ state.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isFieldInvalid('supplierState')">
          Please select state.
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <div fxLayout="row">
      <mat-form-field fxFlex="45%">
        <mat-select placeholder="Supplier City" formControlName="supplierCity">
          <mat-option *ngFor="let city of cityList" [value]="city.name">
            {{ city.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isFieldInvalid('supplierCity')">
          Please select city.
        </mat-error>
      </mat-form-field>
      <div fxFlex="10%"></div>
      <mat-form-field fxFlex="45%">
        <input matInput placeholder="Supplier Address" formControlName="supplierAddress">
        <mat-error *ngIf="isFieldInvalid('supplierAddress')">
          Please enter address.
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
      Close
    </button>
    <button [disabled]="!form.valid" class="mat-raised-button mat-primary" (click)="save()">
      Save
    </button>
  </mat-dialog-actions>
</div>