<mat-card class="create-po-card">
  <mat-card-title class="card-title">Billing Section</mat-card-title>
  <hr class="dialog-title-hr">
  <mat-card-content style="margin-top: 5px;">
    <br>
    <form [formGroup]="formGroup">
      <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" formArrayName="formArray" [linear]="false">
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>Billing Detail</ng-template>
          <input type="hidden" name="id" formControlName="id">

          <div fxLayout="row">
            <mat-form-field fxFlex="45%">
              <input matInput placeholder="Customer Phone" formControlName="customerPhone" (input)="getCustomerDetail($event.target.value)">
              <mat-error> Please select supplier. </mat-error>
            </mat-form-field>
            <div fxFlex="10%"></div>
            <mat-form-field fxFlex="45%">
              <input matInput placeholder="Customer Name" formControlName="customerName" value={{customerName}}
                readonly>
            </mat-form-field>
          </div>
          <br>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
          <ng-template matStepLabel> Add Items </ng-template>
          <div fxLayout="row">
            <mat-form-field fxFlex="45%">
              <input matInput placeholder="Enter Barcode" formControlName="barcode" (input)="itemScanned($event.target.value)">
              <mat-error> Please select supplier. </mat-error>
            </mat-form-field>
            <div fxFlex="10%"></div>
            <mat-form-field fxFlex="45%">
              <input matInput placeholder="Customer Phone" formControlName="customerPhone" value={{customerPhone}}
                readonly>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary">Cancel</button>
            <div fxFlex="2%"></div>
            <button mat-raised-button color="primary" (click)="checkoutDetail()" matStepperNext>Checkout</button>
          </div>
          <br>

          <div>
            <div>
              <table>
                <thead>
                  <tr>
                    <th style="width: 25%;">Product</th>
                    <th style="width: 25%;">Quantity</th>
                    <th style="width: 25%;">Rate</th>
                    <th style="width: 25%;">Amount</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="table-body">
              <table>
                <tbody>
                  <ng-container *ngFor="let billingItem of billingItems;">
                    <tr>
                      <td style="width: 25.6%;">{{billingItem.productName}}</td>
                      <td style="width: 25.5%;">{{billingItem.quantity}}</td>
                      <td style="width: 25.5%;">{{billingItem.sellingPrice}}</td>
                      <td>{{billingItem.totalAmount}}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div>
              <table>
                <thead>
                  <tr>
                    <th style="width: 25%;">Grand Total</th>
                    <th style="width: 50%">{{quantitySold}}</th>
                    <th style="width: 25%;">{{grandTotal}}</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Checkout</ng-template>
          <div fxLayout="row">
            <div fxFlex="48%">
              <table>
                <thead>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Items Count</th>
                    <th class="table-checkout" style="background: #3F729B">{{quantitySold}}</th>
                  </tr>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Grand Total</th>
                    <th class="table-checkout" style="background: #3F729B">{{grandTotal}}</th>
                  </tr>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Discount (%)</th>
                    <th class="table-checkout" style="background: #3F729B">{{discount}}</th>
                  </tr>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Net Payable</th>
                    <th class="table-checkout" style="background: #3F729B">{{netAmount}}</th>
                  </tr>
                </thead>
              </table>
            </div>
            <div fxFlex="4%"></div>
            <div fxFlex="48%">
              <table>
                <thead>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Bill Number</th>
                    <th class="table-checkout" style="background: #3F729B">{{quantitySold}}</th>
                  </tr>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Bill Date</th>
                    <th class="table-checkout" style="background: #3F729B">{{grandTotal}}</th>
                  </tr>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Customer</th>
                    <th class="table-checkout" style="background: #3F729B">{{discount}}</th>
                  </tr>
                  <tr>
                    <th class="table-checkout" style="background: #3F729B">Sales Exec.</th>
                    <th class="table-checkout" style="background: #3F729B">Anil Vishvkarma</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div style="margin-top: 10px;">
            <button mat-raised-button color="primary" type="button" (click)="linearHorizontalStepper.reset()">Cancel</button>
            <div fxFlex="2%"></div>
            <button mat-raised-button color="primary" (click)="onSubmit()">Payment</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </mat-card-content>
</mat-card>