@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url('https://fonts.googleapis.com/css?family=Patua+One');

.heading {
    font-family: 'Passion One', cursive;
    font-size: 70px;
    text-align: center;
    margin-top: 130px;
    color: darkslategray;
}

.period {
    font-size: 150px;
    margin-left: 45%;
    margin-top: 2%;
    color: darkslategray;
}

.content {
    font-family: 'Patua One', cursive;
    font-size: 20px;
    text-align: center;
    color: darkslategray;
}

.card-full-width {
    width: 20%;
    margin-top: 10px;
}

.button {
    height: 37px;
    margin-top: 20px;
}
