<!-- <div style="height: 550px;"> -->
<mat-card class="login-card">
  <mat-toolbar color="accent" class="card-toolbar">
    <span class="title-center">LOGIN</span>
  </mat-toolbar>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <table class="card-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="Enter Email" formControlName="email" name="email" required>
              <mat-error *ngIf="isFieldInvalid('email')">
                Please enter your email.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="Enter Password" formControlName="password" type="password" name="password" required>
              <mat-error *ngIf="isFieldInvalid('password')">
                Please enter your password.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent">LOGIN</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<!-- </div> -->