<mat-card class="login-card">
  <mat-card-title class="card-title">LOGIN</mat-card-title>
  <hr class="dialog-title-hr">
  <mat-card-content style="margin-top: 20px;">
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <table class="card-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="Enter Email" formControlName="email" name="email" required>
              <mat-error *ngIf="isFieldInvalid('email')">
                Please enter your email.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="Enter Password" formControlName="password" type="password" name="password"
                required>
              <mat-error *ngIf="isFieldInvalid('password')">
                Please enter your password.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="forgotPassword()">Forgot Password</button>
        <button mat-raised-button color="accent">LOGIN</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<div class="footer">
  Copyright &copy; 2018 | RSHOP Foundation Ltd.
</div>
