@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.table-layout {
    min-height: 620px;
    overflow-y: auto;
}

.user-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}