<div *ngIf="( isMainForm | async); then mainForm else submittedForm"></div>
<ng-template #mainForm>
  <mat-card class="reset-password-card">
    <mat-card-title class="card-title">Reset Password</mat-card-title>
    <hr class="dialog-title-hr">
    <mat-card-content style="margin-top: 20px;">
      <form class="example-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
        <table class="card-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="card-full-width">
                <input matInput placeholder="Enter Password" formControlName="password" type="password" name="password" required>
                <mat-error *ngIf="isFieldInvalid('password')">
                  Please enter your password.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="card-full-width">
                <input matInput placeholder="Enter Confirm Password" formControlName="confirmPassword" type="password" name="confirmPassword"
                  required>
                <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                  Please enter confirm password.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <mat-card-actions align="end">
          <button [disabled]="!resetPasswordForm.valid" mat-raised-button color="accent">Submit</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #submittedForm>
  <mat-card class="formSubmitted">
    <mat-card-content>
      <mat-icon>check_circle_outline</mat-icon>
      <div>{{responseMessage}}</div>
    </mat-card-content>
  </mat-card>
</ng-template>