/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    background-color: #E8EAF6
}

.success-snackbar {
    background-color: #51A351;
}

.warning-snackbar {
    background-color: #F89406;
}

.info-snackbar {
    background-color: #F89406;
}

.error-snackbar {
    background-color: #BD362F;
}

.table-layout {
    width: 96%;
    min-height: 650px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.search-right-align {
    text-align: right;
}

.header-cell {
    font-weight: bold;
}

.dialog-title {
    text-align: center; 
    margin-top: 15px
}

.dialog-title-hr {
    border: 0;
    height: 3px;
    margin-top: -15px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.res-table-container {
    display: flex;
    flex-direction: column;
    max-height: 520px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mobile-label {
    display: none;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 170px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: stretch;
      padding: 0px 20px 0px 20px;
    }

    .mat-cell {
        font-size: 17px;
        min-height: 35px;
        align-items: flex-end;
    }

    .mat-cell:first-of-type, .mat-header-cell:first-of-type {
        padding-left: 0px;
    }
  }
  