@import url(https://fonts.googleapis.com/css?family=Passion+One);

  .register-card {
    max-width: 300px;
    height: 350px;
    margin:150px auto auto auto;
  }

  .card-full-width {
    width: 100%;
  }

  .card-title {
    font-family: 'Passion One', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
  }
  
  mat-card-actions {
    margin: 0 auto;
  }
 