<mat-card class="register-card">
  <mat-card-title class="card-title">USER REGISTRATION</mat-card-title>
  <hr class="dialog-title-hr">
  <mat-card-content style="margin-top: 20px;">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
      <table class="card-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="First Name" formControlName="firstName" name="firstName" required>
              <mat-error *ngIf="isFieldInvalid('firstName')">
                Please enter first name
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="Last Name" formControlName="lastName" name="lastName" required>
              <mat-error *ngIf="isFieldInvalid('lastName')">
                Please enter last name
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="Email" formControlName="email" name="email" required>
              <mat-error *ngIf="isFieldInvalid('email')">
                Please enter email
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="card-full-width">
              <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                required>
              <mat-error *ngIf="isFieldInvalid('password')">
                Please enter password
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" type="submit">SUBMIT</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>